.main
  .messages__header
    .messages__header__left
      .messages__header__left__group
        = @group.name
      .messages__header__left__member
        %li.messages__header__left__member__list
          Member:
          - @group.users.each do |user|
            =user.name
    .messages__header__right
      = link_to edit_group_path(@group) do
        .messages__header__right__edit
          Edit
  .messages
    = render @messages
  .messages__bottom
    .messages__bottom__new
      .messages__bottom__new__input
        = form_for [@group, @message] do |f|
          = f.text_field :content, class: 'messages__bottom__new__input__text', placeholder: 'type a message'
          .messages__bottom__new__input__icon
            = f.label :image, class: 'messages__bottom__new__input__icon__image' do
              = icon('fa', 'image', class: 'icon')
              = f.file_field :image, class: 'image'
          = f.submit 'Send', class: 'messages__bottom__new__send'